{% load static %}
<header id="header">
  <!-- Nav -->
  <div id="nav">
    <!-- Main Nav -->
    <div id="nav-fixed">
      <div class="container">
        <!-- logo -->
        <div class="nav-logo">
          <a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <!-- /logo -->

        <!-- nav -->
        <ul class="nav-menu nav navbar-nav">
          <li ><a href="/">News</a></li>
          <li ><a href="/">Popular</a></li>
          <li ><a href="category.html">Post</a></li>
          <li class="cat-1"><a href="category.html">Technology</a></li>
          <li class="cat-2"><a href="category.html">Health</a></li>
          <li class="cat-3"><a href="category.html">International</a></li>
          <li class="cat-4"><a href="category.html">Politics</a></li>
          <li class="cat-5"><a href="category.html">Society</a></li>
        </ul>
        <!-- /nav -->

        <!-- search & aside toggle -->
        <div class="nav-btns">
          <button class="aside-btn"><i class="fa fa-bars"></i></button>
          <button class="search-btn"><i class="fa fa-search"></i></button>
          <div class="search-form">
            <input class="search-input" type="text" name="search" placeholder="Enter Your Search ...">
            <button class="search-close"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /search & aside toggle -->
      </div>
    </div>
    <!-- /Main Nav -->

    <!-- Aside Nav -->
    {% include 'navigation_aside_header.html'%}
    <!-- Aside Nav -->
  </div>
  <!-- /Nav -->
</header>
